<div class="approval_container">
    <div class="greet_panel">
        <h3>Hello Zoom</h3>
        <p>Need a fast approval? Upgrade your account to skip the long queue</p>
        <a href="#">Upgrade</a>
    </div>
    <div class="advert_panel"></div>
</div>