<div class="main__panel">
    <div class="user_welcome-mobile">
        <h3 class="theme_text">Welcome Back!</h3>
        <h2 class="theme_text">Samson Monday</h2>
    </div>
    <div class="search-mobile">
        <input type="text" placeholder="Search for patient">
        <button type="submit" class="mobile__search-btn">
            <img src="./assets/icons/search_mobile.svg">
        </button>
    </div>
    <div class="card__title-mobile">
        <h3 class="theme__text">HolyLand Overview</h3>
    </div>
    <div class="cards">
        <div class="card-1 night-color" >
            <div class="card__icon">
                <img src="./assets/icons/16.svg" alt="">
            </div>
            <div class="card__content">
                <h3 class="theme_text">2,260</h3>
                <p>Total Patients</p>
            </div>
            <img class="card__more__action" src="./assets/icons/27.svg" alt="" srcset="">
        </div>
        <div class="card-2 night-color" >
            <div class="card__icon">
                <img src="./assets/icons/19.svg" alt="">
            </div>
            <div class="card__content">
                <h3 class="theme_text">460</h3>
                <p>Available Staff</p>
            </div>
            <img class="card__more__action" src="./assets/icons/27.svg" alt="" srcset="">
        </div>
        <div class="card-3 night-color" >
            <div class="card__icon">
                <img src="./assets/icons/18.svg" alt="">
            </div>
            <div class="card__content">
                <h3 class="theme_text">4,860</h3>
                <p>Avg. Treat. Cost</p>
            </div>
            <img class="card__more__action" src="./assets/icons/27.svg" alt="" srcset="">
        </div>
        <div class="card-4 night-color" >
            <div class="card__icon">
                <img src="./assets/icons/17.svg" alt="">
            </div>
            <div class="card__content">
                <h3 class="theme_text">60</h3>
                <p>Available Cars</p>
            </div>
            <img class="card__more__action" src="./assets/icons/27.svg" alt="" srcset="">
        </div>
    </div>
    <div class="charts">
        <div class="chart-1 night-color" >
            <div class="chart-l">
                <div class="chart__header">
                    <h3 class="theme_text">Outpatient vs Impatient Trend</h3>
                </div>
                <div class="chart__container">
                    <canvas id="myChart" width="400" height="250" class="chart"></canvas>
                </div>
            </div>
        </div>
        <div class="chart-2 night-color" >
            <div class="chart__header">
                <h3 class="theme_text">Inpatient vs Outpatient by %</h3>
            </div>
            <div class="clearfix cirle__w__percentage">

                <div class="c100 p70 normal primary">
                    <span>70%</span>
                    <div class="slice">
                        <div class="bar"></div>
                        <div class="fill"></div>
                    </div>
                </div>
            </div>
            <div class="chart__footer">
                <h3 class="theme_text">Inpatient</h3>
                <h3 class="theme_text">Outpatient</h3>
            </div>
        </div>
        <div class="chart-3 night-color" >
            <div class="chart__header">
                <h3 class="theme_text">Income vs Expenses Trend</h3>
            </div>
            <div class="chart__container">
                <canvas id="chart__finance" width="400" height="250" class="chart"></canvas>
            </div>
        </div>
        <div class="chart-4 night-color" >
            <div class="chart__header">
                <h3 class="theme_text">Patient by Division <img src="./assets/icons/28.svg" alt="" srcset=""></h3>
                
            </div>
            <div class="content">
                <div class="div__header">
                        <h3 class="theme_text"><img src="./assets/icons/20.svg" alt="" srcset=""> DIVISION</h3>
                        <h3 class="theme_text">PATIENT</h3>
                </div>
                <div class="div__content">
                    <p class="theme_text"><img src="./assets/icons/21.svg" alt="" srcset=""> Cardiolody</p>
                    <p class="theme_text">45</p>
                    <p class="theme_text"><img src="./assets/icons/22.svg" alt="" srcset=""> Neurology</p>
                    <p class="theme_text">22</p>
                    <p class="theme_text"><img src="./assets/icons/23.svg" alt="" srcset=""> Surgery</p>
                    <p class="theme_text">22</p>
                </div>
            </div>
        </div>
        <div class="chart-5 night-color" >
            <div class="header">
                <h3>340,000</h3>
                <p>Patients this month</p>
            </div>
            <div class="chart__container">
                <canvas id="chart-5" width="400" height="250" class="chart"></canvas>
            </div>
        </div>
    </div>
</div>