<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard | WCC | Start Trading</title>
    <link rel="stylesheet" href="/styles/main.css">
    <script src="https://kit.fontawesome.com/bbe5d49f9d.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;900&family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js" integrity="sha512-d9xgZrVZpmmQlfonhQUvTR7lMPtO7NkZMkA0ABN3PHCbKA5nqylQ/yWlFAyY6hYgdF1Qh6nYiuADWwKB4C2WSw==" crossorigin="anonymous"></script>

</head>
<body>
    <div class="dashboard_section">
        <section class="sidebar">
            <div class="navbrand_logo">
                <img src="/images/logo.png" alt="">
            </div>
            <nav class="sidebar_nav">
                <ul>
                    <li class="active"><i class="fas fa-user"></i><a href="#">Overview</a></li>
                    <li><i class="fas fa-clipboard-check"></i><a href="#">Approval Center</a></li>
                    <li><i class="fas fa-toggle-off"></i><a href="#">Account Status</a></li>
                    <li><i class="fas fa-user"></i><a href="#">Profile</a></li>
                    <li><i class="fas fa-bell"></i><a href="#">Notification</a></li>
                    <li><i class="fas fa-user-cog"></i><a href="#">Settings</a></li>
                    <li><i class="fas fa-sign-out-alt"></i><a href="#">Logout</a></li>
                </ul>
            </nav>   
            <div class="sidebar_chat">
                <a href="#"><li class="chat"><i class="fas fa-bell"></i>Chat Us</li></a>
            </div>       
        </section>
        
        <main class="main">
            <div class="dashboard_header">
                <h3>Seller Dashboard</h3>
                <div class="right_header-dashboard">
                    <% const status = "pending" %>
                    <button class="header_btn">Feedback</button>
                    <button class="header_btn"><i class="fas fa-envelope"></i></button>
                    <button style="color:green;" class="header_btn"><i class="fas fa-question"></i></button>
                    <div class="header_avatar">
                        <img src="/users/<%= user.photo %>" alt="" srcset="">
                    </div>
                </div>
            </div>
            <div class="dashboard_overview">
                <%- body %>
            </div>
        </main>
    </div>
    <footer class="footer">

    </footer>


    <script>
        var ctx = document.getElementById('myChart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
                datasets: [
                    {
                    label: '# of Deal',
                    data: [1,0,0,0,0,0,0,0,0,0,0,0],
                    backgroundColor: [
                        'rgba(0, 48, 204, 0.2)',
                    ],
                },
                {
                    label: '# of Pending Deal',
                    data: [1,0,0,0,0,0,0,0,0,0,0,0],
                    backgroundColor: [
                        'rgba(251, 255, 0, 0.2)',
                    ],
                },
                {
                    label: '# of Cancel Deal',
                    data: [0,0,0,0,0,0,0,0,0,0,0,0],
                    backgroundColor: [
                        ' rgba(182, 2, 2, 0.678)',
                    ],
                },
                {
                    label: '# of Approved Deal',
                    data: [0,0,0,0,0,0,0,0,0,0,0,0],
                    backgroundColor: [
                        ' rgba(47, 202, 0,0.2)',
                    ],
                },
            ]
            },
            options: {
                responsive: true, // Instruct chart js to respond nicely.
                legend: {
                    display: false
                },
                // title: {
                //     display: true,
                //     text: "Deals Demonstration Chart",
                //     fontSize: 14,
                //     fontFamily: "Helvetica",
                //     fontColor: "rgb(78, 83, 112)"
                // }
            }
        });
    </script>
</body>
</html>