<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#ffffff">
    <title>Cliniqueplus Dashboard</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <!-- <script defer src="https://cdnjs.com/libraries/Chart.js"></script> -->
    <link rel="stylesheet" defer href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet">
    <!-- <script async src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script> -->
    <script src="https://kit.fontawesome.com/129210617d.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./styles/main.css">
    <link rel="stylesheet" href="./styles/add_patient.css">
    <link rel="stylesheet" href="./styles/media_query.css">
    <link rel="stylesheet" href="./styles/circle.css">
    <link rel="stylesheet" href="./styles/msg.css">
    <script defer src="./scripts/add_patient.js"></script>
    <script defer src="./scripts/main.js"></script>
    <script defer src="./scripts/chart.js"></script>

</head>
<!-- ---------------------- -->
<!-- --------[MODAL]------- -->
<!-- ---------------------- -->
<div class="modal_container">
    <div class="modal trigger">
        <div class="modal_content">
            <h2>First Floor</h2>
        </div>
        <div class="modal_content">
            <h3>ICU</h3>
        </div>
        <div class="modal_content">
            <div class="bed">
                <div class="bed-1 open">
                    <span>Open</span>
                </div>
                <div class="bed-2 open">
                    <span>Open</span>
                </div>
                <div class="bed-3 filled">
                    <span>Filled</span>
                </div>
                <div class="bed-3 filled">
                    <span>Filled</span>
                </div>
                <div class="bed-4 open">
                    <span>Open</span>
                </div>
            </div>
        </div>
        <div class="modal_content">
            <h3>HDU</h3>
        </div>
        <div class="modal_content">
            <div class="bed">
                <div class="bed-1 open">
                    <span>Open</span>
                </div>
                <div class="bed-2 open">
                    <span>Open</span>
                </div>
                <div class="bed-3 filled">
                    <span>Filled</span>
                </div>
                <div class="bed-4 open">
                    <span>Open</span>
                </div>
                <div class="bed-5 filled">
                    <span>Open</span>
                </div>
            </div>
        </div>
        <div class="modal_content">
            <h2>Second Floor</h2>
        </div>
        <div class="modal_content">
            <h3>ICU</h3>
        </div>
        <div class="modal_content">
            <div class="bed">
                <div class="bed-1 open">
                    <span><img src="./assets/icons/bed.svg" alt=""> Open</span>
                </div>
                <div class="bed-2 open">
                    <span>Open</span>
                </div>
                <div class="bed-3 filled">
                    <span>Filled</span>
                </div>
                <div class="bed-3 filled">
                    <span>Filled</span>
                </div>
                <div class="bed-4 open">
                    <span>Open</span>
                </div>
            </div>
        </div>
        <div class="modal_content">
            <h3>HDU</h3>
        </div>
        <div class="modal_content">
            <div class="bed">
                <div class="bed-1 open">
                    <span>Open</span>
                </div>
                <div class="bed-2 open">
                    <span>Open</span>
                </div>
                <div class="bed-3 filled">
                    <span>Filled</span>
                </div>
                <div class="bed-4 open">
                    <span>Open</span>
                </div>
                <div class="bed-5 filled">
                    <span>Open</span>
                </div>
            </div>
        </div>
        <div class="modal_content"></div>
    </div>
</div>
<body>
    <div class="root">
        <div class="left_panel night-color" id="left_toggle">
            <div class="brand__logo" id="brand_logo">
                <div class="logo">
                    <img src="./assets/images/logo__brand.png" alt="" srcset="">
                </div>
                <h3 id="logo__content" class="theme_text">FakeDocs</h3>
            </div>
            <div class="primary-btn">
                <a href="#">
                    <div class="btn" id="primary_btn">
                        <a href="/add_patient" id="btn__content">Bed Status</a>
                        <img src="./assets/icons/status.svg" alt="" srcset="">
                    </div>
                </a>
            </div>
            <ul class="navbar" id="navbar">
                <li class="nav_list nav___active" id="nav_list"><img src="./assets/icons/1.svg" alt=""><a id="nav_link" class="nav_link" href="#">Front Office <img class="drop__arr" id="drop__arr" src="./assets/icons/front-arrow.svg" alt=""></a></li>
                <ul class="drop__nav" id="drop__nav">
                    <li><a href="#">Appointment</a></li>
                    <li><a href="#">Visitor Book</a></li>
                    <li><a href="#">Complain</a></li>
                    <li><a href="#">Call Logs</a></li>
                    <li><a href="#">Postal</a></li>
                </ul>
                <li class="nav_list" id="nav_list"><img src="./assets/icons/stethoscope.svg" alt=""><a id="nav_link" class="nav_link" href="#">HIS <img class="drop__arr" id="drop__arr" src="./assets/icons/front-arrow.svg" alt=""></a></li>
                <ul class="drop__nav" id="drop__nav">
                    <li><a href="#">OPD</a></li>
                    <li><a href="#">IPD</a></li>
                    <li><a href="#">ICU</a></li>
                    <li><a href="#">Operation Theatre</a></li>
                </ul>
                <li class="nav_list" id="nav_list"><img src="./assets/icons/blood.svg" alt=""><a id="nav_link" class="nav_link" href="#">Blood Bank</a></li>
                <li class="nav_list" id="nav_list"><img src="./assets/icons/LIS.svg" alt=""><a id="nav_link" class="nav_link" href="#">LIS <img class="drop__arr" id="drop__arr" src="./assets/icons/front-arrow.svg" alt=""></a></li>
                <ul class="drop__nav" id="drop__nav">
                    <li><a href="#">Order</a></li>
                    <li><a href="#">QC</a></li>
                    <li><a href="#">Phleb</a></li>
                    <li><a href="#">Analysers</a></li>
                </ul>
                <li class="nav_list" id="nav_list"><img class="nav__icon" src="./assets/icons/RIS.svg" alt=""><a id="nav_link" class="nav_link" href="#">RIS <img class="drop__arr" id="drop__arr" src="" alt=""></a></li>
                <li class="nav_list" id="nav_list"><img class="nav__icon" src="./assets/icons/heart.svg" alt=""><a id="nav_link" class="nav_link" href="#">Cardiology <img class="drop__arr" id="drop__arr" src="" alt=""></a></li>
                <li class="nav_list" id="nav_list"><img class="nav__icon" src="./assets/icons/finance.svg" alt=""><a id="nav_link" class="nav_link" href="#">Finance <img class="drop__arr" id="drop__arr" src="" alt=""></a></li>
                <li class="nav_list" id="nav_list"><img class="nav__icon" src="./assets/icons/PIS.svg" alt=""><a id="nav_link" class="nav_link" href="#">PIS <img class="drop__arr" id="drop__arr" src="./assets/icons/front-arrow.svg" alt=""></a></li>
                <ul class="drop__nav" id="drop__nav">
                    <li><a href="#">Dispense</a></li>
                    <li><a href="#">Stocks</a></li>
                </ul>
                <li class="nav_list" id="nav_list"><img class="nav__icon" src="./assets/icons/8.svg" alt=""><a id="nav_link" class="nav_link" href="#">Admin <img class="drop__arr" id="drop__arr" src="./assets/icons/front-arrow.svg" alt=""></a></li>
                <ul class="drop__nav" id="drop__nav">
                    <li><a href="#">HR</a></li>
                    <li><a href="#">Inventory</a></li>
                </ul>
                <li class="nav_list" id="nav_list"><img class="nav__icon" src="./assets/icons/records.svg" alt=""><a id="nav_link" class="nav_link" href="#">Records <img class="drop__arr" id="drop__arr" src="./assets/icons/front-arrow.svg" alt=""></a></li>
                <ul class="drop__nav" id="drop__nav">
                    <li><a href="/add_patient">Add Patient</a></li>
                    <li><a href="#">HMO</a></li>
                    <li><a href="#">Insurance</a></li>
                    <li><a href="#">Coding & Indexing</a></li>
                    <li><a href="#">All Patients</a></li>
                </ul>
                <li class="nav_list" id="nav_list"><img class="nav__icon" src="./assets/icons/ambulance.svg" alt=""><a id="nav_link" class="nav_link" href="#">Logistics <img class="drop__arr" id="drop__arr" src="" alt=""></a></li> 
            </ul>
        </div>
        <!-- <ul class="nav__footer">
            <li><img src="./assets/icons/help.svg" alt=""><a id="nav_link" href="#">Help?</a></li>
        </ul> -->
        <div class="top_panel night-color">
            <div class="cola" id="cola">
                <img src="./assets/icons/cola.svg" alt="">
            </div>
            <div class="brand__logo-mobile">
                <img src="./assets/images/logo__brand.png" alt="" class="img__mobile">
                <h3 id="logo__content" class="theme_text">FakeDocs</h3>
            </div>
            <!-- <div class="user_sniper-mobile">
                <div class="avatar" id="user__snippet__arr">
                    <img src="./assets/images/avatar.png" alt="" srcset="">
                </div>
            </div> -->
            <div class="search_main">
                <form action="/" method="get">
                    <div class="search_len">
                        <picture>
                            <source 
                              media="(max-width: 650px)"
                              srcset="./assets/icons/search_len2.svg">
                            <source 
                              media="(max-width: 465px)"
                              srcset="./assets/icons/search_len2.svg">
                            <img 
                              src="./assets/icons/25.svg" 
                              alt="a cute kitten">
                          </picture>
                    </div>
                    <input type="text" id="search_input" placeholder="Search for patient">
                </form>
            </div>
            <div class="user_sniper">
                <button class="notif active" id="MsgCont">
                    <img src="/assets/icons/14.svg" alt="" srcset="">
                    <!-- ----------------------------------------- -->
                    <!-- ------------[NOTIFICATION MSG]----------- -->
                    <!-- --------------------------------------------->
                    <div class="msgContent" id="msgContent">
                        <div class="message">
                            <div class="msg__avatar">
                                <div class="avatar">
                                    <img src="./assets/images/avatar.png" alt="" srcset="">
                                </div>
                            </div>
                            <div class="msg__snippet">
                                <h3>Hello, new update</h3>
                                <span>&#128337;14min, ago</span>
                                <p>new have a new update from mexico now</p>
                            </div>
                        </div>
                        <div class="message">
                            <div class="msg__avatar">
                                <div class="avatar">
                                    <img src="./assets/images/avatar.png" alt="" srcset="">
                                </div>
                            </div>
                            <div class="msg__snippet">
                                <h3>Hello, new update</h3>
                                <span>&#128337;14min, ago</span>
                                <p>new have a new update from mexico now</p>
                            </div>
                        </div>
                        <div class="message">
                            <div class="msg__avatar">
                                <div class="avatar">
                                    <img src="./assets/images/avatar.png" alt="" srcset="">
                                </div>
                            </div>
                            <div class="msg__snippet">
                                <h3>Hello, new update</h3>
                                <span>&#128337;14min, ago</span>
                                <p>new have a new update from mexico now</p>
                            </div>
                        </div>
                        <div class="message">
                            <div class="msg__avatar">
                                <div class="avatar">
                                    <img src="./assets/images/avatar.png" alt="" srcset="">
                                </div>
                            </div>
                            <div class="msg__snippet">
                                <h3>Hello, new update</h3>
                                <span>&#128337;14min, ago</span>
                                <p>new have a new update from mexico now</p>
                            </div>
                        </div>
                        <div class="message">
                            <div class="msg__avatar">
                                <div class="avatar">
                                    <img src="./assets/images/avatar.png" alt="" srcset="">
                                </div>
                            </div>
                            <div class="msg__snippet">
                                <h3>Hello, new update</h3>
                                <span>&#128337;14min, ago</span>
                                <p>new have a new update from mexico now</p>
                            </div>
                        </div>
                        <div class="message">
                            <div class="msg__avatar">
                                <div class="avatar">
                                    <img src="./assets/images/avatar.png" alt="" srcset="">
                                </div>
                            </div>
                            <div class="msg__snippet">
                                <h3>Hello, new update</h3>
                                <span>&#128337;14min, ago</span>
                                <p>new have a new update from mexico now</p>
                            </div>
                        </div>
                    </div>
                    <!-- ----------------------------------------- -->
                    <!-- ------------[NOTIFICATION MSG END]----------- -->
                    <!-- --------------------------------------------->
                </button>
                <button class="msg" id="MsgCont">
                    <img src="./assets/icons/15.svg" alt="" srcset="">
                    <div class="msgContent" id="msgContent">
                        <h2>Hello 2</h2>
                    </div>
                </button>
                <!-- <div class="avatar">
                    <img src="./assets/images/avatar.png" alt="" srcset="">
                </div> -->
                <button class="user_menu msg" id="MsgCont">
                    <img src="./assets/images/avatar.png" class="mobile__avatar-img" alt="" srcset="">
                    <div class="user_menu msgContent" id="msgContent">
                        <div class="message">
                            <div class="msg__avatar">
                                <div class="avatar">
                                    <img src="./assets/icons/setup.svg" alt="" srcset="">
                                </div>
                            </div>
                            <div class="msg__snippet">
                                <h3>Setup</h3>
                            </div>
                        </div>
                        <div class="message">
                            <div class="msg__avatar">
                                <div class="avatar">
                                    <img src="./assets/icons/reports.svg" alt="" srcset="">
                                </div>
                            </div>
                            <div class="msg__snippet">
                                <h3>Reports</h3>
                            </div>
                        </div>
                        <div class="message">
                            <div class="msg__avatar">
                                <div class="avatar">
                                    <img src="./assets/icons/profile.svg" alt="" srcset="">
                                </div>
                            </div>
                            <div class="msg__snippet">
                                <h3>Profile</h3>
                            </div>
                        </div>
                        <div class="message">
                            <div class="msg__avatar">
                                <div class="avatar">
                                    <img src="./assets/icons/logout.svg" alt="" srcset="">
                                </div>
                            </div>
                            <div class="msg__snippet">
                                <h3>Logout</h3>
                            </div>
                        </div>
                    </div>
                </button>
                <div class="username">
                    <h3 class="theme_text">Samson Monday</h3>
                </div>
                <!-- <div class="drop_arr" id="user__snippet__arr">
                    <img src="./assets/icons/28.svg" alt="" srcset="">
                </div> -->
                <button class="user_menu msg arr" id="MsgCont">
                    <img src="./assets/icons/28.svg" alt="" srcset="">
                    <div class="user_menu msgContent" id="msgContent">
                        <div class="message">
                            <div class="msg__avatar">
                                <div class="avatar">
                                    <img src="./assets/icons/setup.svg" alt="" srcset="">
                                </div>
                            </div>
                            <div class="msg__snippet">
                                <h3>Setup</h3>
                            </div>
                        </div>
                        <div class="message">
                            <div class="msg__avatar">
                                <div class="avatar">
                                    <img src="./assets/icons/reports.svg" alt="" srcset="">
                                </div>
                            </div>
                            <div class="msg__snippet">
                                <h3>Reports</h3>
                            </div>
                        </div>
                        <div class="message">
                            <div class="msg__avatar">
                                <div class="avatar">
                                    <img src="./assets/icons/profile.svg" alt="" srcset="">
                                </div>
                            </div>
                            <div class="msg__snippet">
                                <h3>Profile</h3>
                            </div>
                        </div>
                        <div class="message">
                            <div class="msg__avatar">
                                <div class="avatar">
                                    <img src="./assets/icons/logout.svg" alt="" srcset="">
                                </div>
                            </div>
                            <div class="msg__snippet">
                                <h3>Logout</h3>
                            </div>
                        </div>
                    </div>
                </button>
            </div>
        </div>
        <div class="theme__color" id="theme_changer"><img class="nav__icon" src="./assets/icons/10.svg" alt=""></div>
            
            <div class="content">
                <%- body %>
            </div>
           
        <div class="bottom">
            <footer>
                CliniquePlus by Netwalkers NG (c) 2021. All right reservse
            </footer>
            <ul>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Contact Us</a></li>
                <li><a href="#">Terms Of Service</a></li>
                <li><a href="#">Privacy Policy</a></li>
            </ul>
        </div>
        <div class="hamburger_menu">
            <img src="./assets/icons/hamburger.svg" id="hamburger" alt="">
        </div>
    </div>




    <script>
        
    </script>
</body>
</html>