<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Start Trading - Asiaoldmoney</title>
    <link rel="stylesheet" href="/styles/main.css">
</head>
<body>
    <div class="login_section">
        <div class="form_header">
            <div class="form_brand_logo">
                <div class="brand_logo">
                    <img src="/images/logo.png" alt="">
                </div>
            </div>
        </div>
        <section class="form_container">
            <%- include ("./partials/message") %> 
            <form action="/auth/login" method="POST">
                <div class="form_group">
                    <input type="text" name="username" placeholder="Enter Username">
                </div>
                <div class="form_group">
                    <input type="password" name="password" placeholder="Enter Password">
                </div>
                <div class="form_group">
                    <input type="submit" value="Login">
                </div>
            </form>
        </section>
    </div>
</body>
</html>
