<div class="profile_container">
    <div class="profile_card">
        <div class="profile_avatar">
            <div class="avatar_container">
                <img src="/users/<%= user.photo %>" alt="">
            </div>
        </div>
        <div class="profile_render">
            <div class="profile_header">
                <h3><%= user.first_name, user.other_name %></h3>
                <p>New User</p>
            </div>  
            <div class="profile_details">
                <ul>
                    <li><a href="#"><%= user.email %></a></li>
                    <li><a href=""></a></li>
                    <li><a href=""></a></li>
                    <li><a href=""></a></li>
                    <li><a href=""></a></li>
                    <li><a href=""></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="profile_docs">

    </div>
</div>