:root{
    --primary: #24292e;
    --secondary: #c02428;
    --secondary-light: rgba(192, 36, 41, 0.493);
    --dashboard-cr: rgb(133, 134, 73);
    --light1: #bbc1ca;
    --light2: #e9ecf1;
    --light3: #b2b9c5;
    --dark1: rgb(1, 14, 29);
    --dark2: rgb(34, 37, 48);
    --dark3: rgb(78, 83, 112);
    --dark4:rgba(0, 0, 0, 0.096);
    --shadow-inset: 0 0 10px rgba(0, 0, 0, 0.185) inset;
}
::-webkit-scrollbar{
    width: 10px;
    background-color: var(--primary);
}
::-webkit-scrollbar-thumb{
    background-color: var(--dark1);
    border-radius: 10px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Raleway', sans-serif;
}
h2{
    color: var(--primary);
    font-weight: 700;
    font-size: 28px;
}
h3{
    color: var(--primary);
    font-weight: 700;
}
.light-font{
    font-weight: lighter;
}
p{
    color: var(--dark1);
    font-weight: 500;
    line-height: 1.6rem;
    padding-top: 10px;
}
.head-core{
    color: var(--secondary);
    font-weight: 600;
    padding-bottom: 20px;
}
header{
    height: 100vh;
    width: 100%;
    /* background-color: var(--primary); */
    background-image: linear-gradient(to right bottom, var(--primary), rgba(4, 22, 43, 0.883), rgba(4, 22, 43, 0.192)), url("/images/banner.jpg");
    background-position: left bottom;
}
#navbar{
    padding: 0 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;

    width: 100%;
    height: 4rem;
    z-index: 999;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
#navbar ul{
    display: flex;
    list-style: none;
}
#navbar li{
    margin-left: 2rem;
}
#navbar a{
    text-decoration: none;
    color: var(--light1);
    font-size: 16px;
    font-weight: 500;
}
#navbar a:hover{
    color: var(--secondary);
    transition: all .6s cubic-bezier(0.075, 0.82, 0.165, 1);
}
/* brand logo */
.logo{
    background-image: url("/images/logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
    position: relative;
    width: 14rem;
    height: 2.5rem;
}
/* user button */
.user_btn{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 14rem;
}
.btn.btn_primary{
    background: var(--secondary);
    padding: 8px 20px !important;
    width: 9rem;
    text-align: center;
    border-radius: 20px;
    border: 1px solid var(--secondary);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.116);
}
.btn.btn_primary.outline{
    background: transparent;
    border: 1px solid var(--secondary);
}
.btn.btn-light{
    font-weight: 700;
    color: var(--secondary);
    background: transparent;
    border: none;
    border-bottom: 1px solid var(--secondary);
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    padding-bottom: 5px;

}
.btn.btn-light:hover{
    left: 10px;
    padding-bottom: 5px;
    transition: all 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
    box-shadow: none;

}
.btn.btn_primary a{
    color: var(--light1) !important;
    text-decoration: none;
}
.btn.btn_primary:hover{
    border: 1px solid var(--secondary);
    background-color: transparent;
    transition: all .6s cubic-bezier(0.075, 0.82, 0.165, 1);
}
/* header content */
.header_content{
    position: relative;
    top: 10%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    height: 80vh; 
    width: 85%;
    margin: 0 auto;
    color: #f1f1f1;
}
.header_content h1{
    font-size: 50px;
    line-height: 3.6rem;
}
.header_content p{
    font-size: 18px;
    line-height: 1.6rem;
    color: var(--light1);
    margin-top: 15px;
    width: 80%;
    padding-bottom: 35px;
    font-weight: 400;
}
/* brands logo */
.brands{
    position: relative;
    background-color: var(--primary);
    width: 100%;
    top: 40px;
}
.brands-logo{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 20px;
    justify-content: center;   
    align-items: center;
    margin: 0 auto;
    width: 85%;
}
.brands img{
    width: 100%;
    padding: 10px;
    filter: saturate(.2);
}
/* about */
.about{
    position: relative;
    top: 8rem;
    width: 65%;
    margin: 0 auto;
    text-align: center;
    line-height: 2.6rem;
}
.cta{
    position: relative;
    top: 34rem;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    line-height: 2.6rem;
}
.deal_counter{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    position: relative;
    top: 2rem;
}
.deal_counter h3{
    font-size: 40px;
}
.deal_counter p{
    position: relative;
    top: -10px;
}
.deal_counter > div{
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.055);
    margin: 0 5px;
    border-radius: 5px;
    padding: 10px;
    width: 29rem !important;
    display: flex;
    justify-content: center;
    align-items: center;
}
.deal_counter > div:last-child{
    width: 14rem;
}
.icon_src{
    width: 4rem;
}
.deal_counter > div > div > img{
    width: 100%;
}
.counter{
    text-align: left;
    margin-left: 10px;
}
.divider{
    width: 100%;
    text-align: center;
    padding: 10px;
    position: relative;
}
.line1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 0.1px solid  rgba(192, 36, 41, 0.301);
    border: 50%;
    width: 10rem !important;
    margin: 0 auto;
    line-height: 3rem;
    border-radius: 10px;

}
.line2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid var(--secondary);
    border-radius: 10px;
    width: 4rem !important;
    margin: 0 auto;
    line-height: 3rem;
}

/* info section */
.info{
    position: relative;
    top: 14rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 80px;
    width: 80%;
    margin: 0 auto;
}
.icon{
    width: 6rem;
    margin: 0 auto;
}
.icon img{
    width: 100%;   
}
.info div{
    text-align: center;
    
}
.info h3{
    padding: 10px 0;
}
.info .btn.btn-light{
    position: relative;
    top: 20px;
}
/* guranttee */
.guranttee{
    position: relative;
    top: 25rem;
    width: 100%;
    height: auto;
    background-color: rgba(4, 22, 43, 0.048);
}
.content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 100px;
    width: 80%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}
.btn-light.guarantee{
    position: relative;
    top: 20px;
}
.guarantee_img{
    text-align: center;
    width: 30rem !important;
    height: 25rem;
    position: relative;
    overflow: hidden;
    top: 60px;
    border-radius: 5px;
    -webkit-box-shadow: 0 10px 6px -6px #777;
	   -moz-box-shadow: 0 10px 6px -6px #777;
	        box-shadow: 0 10px 6px -6px #777;
}
.guranttee_img img{
    width: 100%;
    object-fit: cover;
}

.samples{
    position: relative;
    top: 45rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: rgba(4, 22, 43, 0.048);
    padding: 60px 0;
}
.samples_content p{
    text-align: center;
}
.samples_content{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}
.samples_box{
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
    padding: 40px 0;
}
.samples_box div{
    width: 100% !important;
    height: 15rem;
    background-color: var(--primary);
    /* margin: 5px 0; */
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    position: relative;

    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.sample_title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    color: var(--light1);
    visibility: hidden;
}
.samples_box div:hover .img{
    transform: scale(1.4);
    opacity: 0.4;
}
.samples_box div:hover .sample_title{
    visibility: visible;
}
.samples_box div img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
    transform: scale(1.1);

    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.testimony{
    position: relative;
    top: 50rem;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    line-height: 2.6rem;
}
.testimony_container{
    position: relative;
    top: 40px;
    width: auto;
    overflow: hidden;
    
}
.testimony_slider{
    display: grid;
    grid-template-columns: repeat(4, 25rem);
    grid-gap: 10px;

    position: relative;
    right: 0;
    transition: all .6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.testimony_slider h3{
   font-size: 20px;
}
.testimony_slider span{
    color: var(--secondary);
    font-weight: 200;
    position: relative;
    top: -10px;

}
.testimony_slider > div{
    position: relative;
    height: auto;
    border: 1px solid #f1f1f1;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
    padding: 20px;
    -webkit-box-shadow: 0 10px 6px -6px #b8b8b8;
    -moz-box-shadow: 0 10px 6px -6px #b8b8b8;
         box-shadow: 0 10px 6px -6px #b8b8b8;
}
.testimony_slider .testimony_img{
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    border: 4px solid #f1f1f1;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.testimony_img img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}
.quote-sign-left{
    opacity: 0.6;
    position: absolute;
    left: 10%;
    top: 54%;
    width: 2rem;
}
.quote-sign-right{
    position: absolute;
    right: 5%;
    bottom: 5%;
    width: 2rem;
}
.slider_control{
    position: absolute;
    width: 100%;
    top: 60%;
    /* transform: translateY(-50%); */
    display: flex;
    justify-content: space-between;

    z-index: 9999;
}
.slider_control button{
    background-color:  rgb(192, 36, 40);
    color: #f1f1f1;
    padding: 10px;
    border: none;
    outline: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}
.left_btn{
    position: absolute;
    left: -4rem;
}
.right_btn{
    position: absolute;
    right: -4rem;
}
.left_btn_fade{
    background-color: rgba(192, 36, 41, 0.301) !important;
}
.right_btn_fade{
    background-color: rgba(192, 36, 41, 0.301) !important;
}
.trading{
    position: relative;
    top: 60rem;
    height: 18rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.712), rgba(0, 0, 0, 0.404)), url("/images/banner.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.trading h2{
    color: #f1f1f1;
}
.trading .btn_primary{
    margin-top: 2rem !important;
}
.trading .btn.btn_primary a{
    color: #f1f1f1 !important;
}
.trading .btn_primary:hover a{
    color: var(--secondary) !important;
}

.js_navbar{
    position: fixed !important;
    background-color: var(--primary);
}

/* --> Register <-- */
.registration_section{
    height: 100vh;
    width: 100%;
}
.form_header{
    height: 40vh;
    background-color: var(--primary);
    display: flex;
    justify-content: center;
    align-items: center;
}
.form_container{
    border-radius: 10px 10px 0 0 ;
    height: 80vh;
    width: 60%;
    background-color: var(--light2);
    margin: 0 auto;
    position: relative;
    top: -20%;
    z-index: 9999;
}
.form_container form{
    padding: 40px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    position: relative;
}
.form_container input{
    width: 100%;
    padding: 18px 20px;
    outline: none;
    border: none;
    border-radius: 5px;
}
.form_container .form_group.file, .form_container input[type="submit"]{
    width: 100% !important;
    padding: 10px;
    height: 40px;
    outline: none;
    border: none;
    border-radius: 5px;
    background-image: linear-gradient(to right bottom,  rgb(192, 36, 40),  rgb(168, 26, 31));
    color:var(--light2);
    position: relative;
    text-align: center;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
}
.form_container .form_group.file{
    background: transparent !important;
    border: 1px solid var(--secondary);
    color: var(--secondary);
}
#file{
    display: none;
}
.form_container input::placeholder{
    color: var(--light1);
}

/* --> login_section <-- */
.login_section{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--primary);
}
.login_section .form_container{
    width: 40% !important;
    height: 40vh;
    border-radius: 10px;
}
.login_section .form_container form{
    display: flex;
    flex-direction: column;
    margin: auto;
}
.form_brand_logo{
    display: flex;
    justify-content: center;
    text-align: center;
    position: absolute;
    top: 5%;
    width: 100%;
}
.form_brand_logo h2{
    color: #f3f3f3 !important;
    justify-content: flex-start;
}
.brand_logo{
    width: 10rem;
}
.brand_logo img{
    width: 100%;
}

/* --> Dashboard <-- */
.dashboard_section{
    display: grid;
    grid-template-columns: auto 1fr;
    justify-content: center;
    align-content: center;
    width: 100%;
    background-color: rgb(236, 236, 236);
}
.sidebar{
    background-image: linear-gradient(to right bottom, var(--primary),  rgb(3, 19, 37));
    width: 60px;
    height: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    transition: all 0.2s ease-in;
}
.sidebar:hover{
    width: 14rem;
}
.sidebar:hover .navbrand_logo > .tagname{
    visibility: visible;
}
.sidebar:hover .navbrand_logo > .tagname{
    visibility: visible;
}
.sidebar:hover .sidebar_nav a, .sidebar_chat a{
    opacity: 1;
}
.navbrand_logo{
    width: 14rem;
    height: 60px;
    padding: 10px;
    position: relative;
    top: 10px;
    display: grid;
    grid-template-columns: 4rem 1fr;
}
.navbrand_logo > .favicon{
    background-image: url("/images/favicon.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
}
.navbrand_logo > .tagname{
    background-image: url("/images/tagname.png");
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: left;
    position: relative;
    left: -10px;
    visibility: hidden;
}
.sidebar_nav{
    position: sticky;
    top: 85px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20rem;
    overflow: hidden;

    transition: all 0.4s ease-in;
}
.sidebar_nav ul{
    width: 100% !important;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: stretch;
}
.sidebar_nav li{
   list-style: none;
   height: 100%;
   position: relative;
   /* height: 50px; */
   border-bottom: 1px solid var(--dark4);
   display: flex;
   padding-left: 20px;
    align-items: center;
}
.sidebar_nav li.active{
    background-color: var(--dark4);
}
.sidebar_nav li:hover{
    margin-left: 5px;
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    color: var(--secondary-light);
}
.sidebar_nav a:hover{
    transition: all 0.4s ease-in;
    color: var(--secondary) !important;
}
.sidebar_nav a, .sidebar_chat a{
    color: #b3b3b3;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
    opacity: 0;
}
.sidebar_nav i, .sidebar_chat i{
    color:  #b3b3b3;
    margin-right: 30px;
    font-size: 18px;
}
.sidebar_chat{
    position: absolute !important;
    bottom: 0%;
    left: 0%;
    width: 14rem;
    background-color: var(--dark4);
    box-shadow: 0 -10px 10px rgba(255, 255, 255, 0.014);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.sidebar_chat:hover{
    box-shadow:  none;
}
.sidebar_chat a{
    height: 40px;
    width: 100%;
    list-style: none;
    position: relative;
    left: 20px;
    display: flex;
    align-items: center;
}
.dashboard_header{
    display: grid;
    height: 3.5rem;
    grid-template-columns: 12rem 1fr 1fr;
    justify-content: space-between;
    align-content: center;
    padding: 0 40px;
    background-image: linear-gradient(to bottom, #fafafa, #eeeeee);
    border-bottom: 1px solid var(--light1);
    -webkit-box-shadow: 0 10px 6px -6px rgba(0, 0, 0, 0.178);
    -moz-box-shadow: 0 10px 6px -6px  rgba(0, 0, 0, 0.178);
         box-shadow: 0 10px 6px -6px  rgba(0, 0, 0, 0.178);
}
.dashboard_header h3{
    color: var(--dark3);
    font-weight: 600;
    font-size: 16px;
    margin: auto 0;
}
.header_search{
    width: 100%;
    height: 90%;
    position: relative;
}
.header_search > input{
    width: 100%;
    height: 100%;
    border: 1px solid var(--dark4);
    outline: none;
    padding: 0 35px;
    box-shadow: 0 0 10xpx rgba(0, 0, 0, 0.185) inset;
    color: var(--dark3);
}
.header_search > input::placeholder{
    color: rgba(1, 14, 29, 0.432);
}
.header_search > i{
    position: absolute;
    top: 50%;
    left: 4%;
    color: rgba(1, 14, 29, 0.432);
    font-size: 14px;
    transform: translate(-50%, -50%);
}
.right_header-dashboard{
    display: flex;
    align-items: center;
    margin-left: auto;
}
.right_header-dashboard button, .dashboard_icon{
    margin: auto 0;
    margin-right: 10px;
    outline: none;
    border: none;
    border-radius: 20px;
    padding: 0px 10px !important;
    height: 30px;
    cursor: pointer;
    color: var(--dark3);
    font-weight:600;
    font-size: 14px;

    position: relative;
}
.right_header-dashboard > button > .alert_reader{
    position: absolute;
    background-color: var(--secondary);
    color: var(--light2);
    font-size: 12px;
    padding: 6px;
    border-radius: 50%;
    width: 2px;
    height: 2px;

    display: flex;
    justify-content: center;
    align-items: center;
    top: 5%;
    right: -20%;
    transform: translate(-50%, -50%);
} 
.right_header-dashboard > button:nth-child(2) > .alert_reader{
    background-color: #229c04;
}
.account_status{
    background-color: #fceac5;
    height: 25px;
    display: flex;
    align-items: center;
    border: none;
}
.account_status h3{
    position: relative;
    left: 30px;
    font-size: 14px;
    font-weight: 500;
    color: var(--primary);
}
.account_status a{
    text-decoration: underline;
    color: var(--secondary);
}
.account_status i{
    text-decoration: underline;
    color: var(--secondary);
}
.display_name{
    height: 100%;
    position: relative;
    border-left: 1px solid var(--dark4);
}
.display_name > p{
    position: relative;
    font-size: 14px;
    padding: 10px !important;
    color: var(--dark3);
    font-weight: 600;
}
.header_avatar{
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    overflow: hidden;
    border: 3px solid rgba(0, 0, 0, 0.082);
}
.header_avatar img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.dashboard_main{
    border: 1px solid var(--light1);
    width: 100%;
    height: 100%;
    position: relative;
    display: grid;
    grid-template-rows: 60px 110px 1fr;
    align-items: center;
}
.account_overview{
    display: grid;
    grid-template-columns: repeat(4, calc(100% / 4));
    grid-gap: 10px;
    position: relative;
    /* top: 3rem; */
    justify-content: center;
    align-items: center;
    padding: 10px 50px;
    /* margin: 0 auto; */
    width: 100%;
    height: 100%;
}
.dashboard_overview{
    width: 100%;
    height: auto;
    max-height: 20rem;
}
.user_flash{
    position: relative;
    left: 30px;
    color: var(--dark3);
    font-size: 16px;
    width: 50%;
}
.account_overview > div{
    background-color: #fafafa;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-around;
    align-items: center;
    border-radius: 5px;
    -webkit-box-shadow: 0 10px 6px -6px rgba(0, 0, 0, 0.096);
    -moz-box-shadow: 0 10px 6px -6px  rgba(0, 0, 0, 0.096);
         box-shadow: 0 10px 6px -6px  rgba(0, 0, 0, 0.096);
    cursor: pointer;
    transition: all 0.6s cubic-bezier(0.55, 0.085, 0.68, 0.53);
}
.account_overview > div:nth-child(1){
    border-left: 4px solid var(--primary);
}
.account_overview > div:nth-child(2){
    border-left: 4px solid  #f0b938;
}
.account_overview > div:nth-child(3){
    border-left: 4px solid   rgba(192, 36, 41, 0.856);
}
.account_overview > div:nth-child(4){
    border-left: 4px solid rgba(40, 173, 0, 0.836);
}
.account_overview > div:hover{
    position: relative;
    top: -5px;
    box-shadow: none;
}
.account_overview .icon{
    background-color: var(--light2);
    border-radius: 50%;
    height: 4rem;
    width: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.account_overview .icon i{
    font-size: 16px;
}
.account_overview .details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.account_overview .details h3{
    font-size: 22px;
    color: var(--dark2);
}
.account_overview .details span{
    color: var(--dark3);
    font-size: 14px;
    font-weight: 600;
}
.chart{
    width: 95%;
    height: 22rem;
    margin: 0 auto;
    position: relative;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    -webkit-box-shadow: 0 10px 6px -6px rgba(0, 0, 0, 0.178);
    -moz-box-shadow: 0 10px 6px -6px  rgba(0, 0, 0, 0.178);
         box-shadow: 0 10px 6px -6px  rgba(0, 0, 0, 0.178);
}
.ct-chart{
    height: 100%; 
}

.chart_title h3{
    position: relative;
    left: 50%;
    top: -5px;
    transform: translateX(-50%);
    color: var(--dark3);
    font-size: 15px;
    display: inline-block;
}
.toast{
    position: fixed;
    right: 0%;
    bottom: 0%;
    width: auto;
    padding: 5px 20px;
    background-color: var(--secondary);
    border-radius: 5px;
    transition: all .4s ease-in;
    transform: translateY(100%);
}
.toast.toast-show{
    transform: translateY(-0%);
}
.toast.toast-anim{
    transform: translateY(600%) rotateZ(-90deg) ;
}
.toast p{
    color: var(--light2);
    font-size: 14px;
}
.toast a{
    color: var(--light2);
    text-decoration: none;
    font-weight: 600;
}

/* [-----------PROFILE SECTION---------------] */
.profile_container{
    position: relative;
    width: 90%;
    height: 90%;
    margin: 0 auto;
    top: 50%;
    transform: translateY(-50%);
    display: grid;
    grid-template-columns: 20% 80%;
    grid-gap: 10px;
}
.profile_container > div{
    background-color: #ffffff;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    overflow: hidden;
}
.profile_avatar{
    width: 100%;
    height: 80px;
    background-color: var(--light2);
    position: relative;
}
.avatar_container{
    position: relative;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 4px solid var(--light2);
    overflow: hidden;
    left: 50%;
    top: 100%;
    transform: translate(-50%, -50%);
}
.avatar_container img{
    object-fit: cover;
    width: 100%;
}
.carousel{
    border: 1px solid var(--secondary);
    height: 50%;
    width: 100%;
    padding: 20px;
    display: flex;
}
.carousel div{
    width: 20rem;
    border: 1px solid var(--secondary);

    /* margin: 0 5px; */
}