.msg{
    padding: 5px 10px;
    border-radius: 5px;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    margin-top: 10px;
}
.msg.success{
    background-color: var(--green-color);
    color: #155724;
}
.msg.danger{
    background-color: var(--red-color);
    color: #721c24;
}